$brewdogColor: rgb(64, 182, 218);

label {
  padding: 40px;
  color: white;
  font-size: 25px;

  &:hover {
    color: $brewdogColor;
  }
}

input {
  accent-color: $brewdogColor;
}

.search {
  height: 40px;
  width: 200px;
  font-family: "Roboto";
  letter-spacing: 2px;

  &:hover {
    border: 3px solid $brewdogColor;
  }
}

.larger-checkbox {
  height: 20px;
  width: 20px;
}
