.mainContainer {
  margin: 50px auto;

  height: 100%;
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 150px;
  column-gap: 10px;

  // border: 2px solid black;
  padding: 50px;
}
