.mainContainer {
  margin: 0 auto;
  padding: 70px;

  height: 100%;
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 100px;
  column-gap: 40px;
}
