

.NavBar {
    font-size: 40px;
    margin-top: 0;
    background-color: #153243;
    color: #B4B8AB;
    display: flex;
    flex-direction: column;
    height: 2000px;
    width: 500px;
    position: fixed;
}

input {
    font-size:70px;
}


input.check {
    height: 80px;
    width: 80px;
   accent-color: #284B63;
}